# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock
*.iml

# Android
android/.gradle/
android/local.properties
android/app/release/
android/key.properties
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
